@font-face {
    font-family: Pretendard-Regular;
    src: url("./font/Pretendard-Regular.woff") format(woff);
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;

    position: relative;
    box-sizing: border-box;

    font-family: 'Pretendard-Regular';

}

html{
    font-size: 16px;
}

body{
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
    box-sizing: border-box;
    overflow: hidden;
}

#menubar{
    width: 200px;
    text-align: center;
    position: absolute;
    top:0;
    left:0;
    z-index: 100;
}

.block{
    border: 1px solid #000;
    padding: 0.7rem;
    background-color: #fff;
}

.top{
    background-color: #000;
    color: #fff;
}

.menu:hover{
    background-color: #000;
    color: #fff;
}

.descript{
    text-align: left;
    background-color: #D9D9D9;
    animation: slideDown 0.5s ease-out forwards;
    display: none;
    line-height: 150%;

    p:first-child{
        margin-bottom: 1rem;
    }
}

#content{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;

    iframe{
        width: 100%;
        height: 100%;
        border: none;
    }
}

@keyframes slideDown {
    from {
        height:0;
    }
    to {
        height: 200px;
    }
}